<%= form_for @user do |f| %>
    <div>
    <%= f.text_field :name %>
    </div>

    <div>
    <%= f.select :gender , User.genders.keys %>
    </div>

    <div>
    <%= f.date_select :birthday, start_year: 1950, end_year: 2016 %>
    </div>

    <div>
    <%= f.text_field :hometown %>
    </div>

    <div>
    <%= f.text_area :remarks %>
    </div>

    <div>
    <%= f.submit "送信" %>
    </div>

<% end %>